.navBody{
    background: url("./Assets/background.jpg");
    height:100%;
    width:100%;
    border:2px solid green;
}
.pizzaLogo{
    /* border-radius: 50% !important; */
}
nav > ul{
    display:flex;
    justify-content: space-around;
    margin-left:auto;
    border:2px solid blue;
    width:60%
}
